@font-face {
  font-family: 'Poppins';
  font-style: normal;
  src : url('/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: bold;
  src : url('/fonts/Poppins-SemiBold.ttf');
}

:root {
  --background-color: #1a1a1a;
  --secondary-background: #d9d5d5;
  --text-color: #ffffff;
  --accent-color: #8a2be2; /* Purple */
  --border-color: #3a3a3a;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Hide scrollbars in WebKit-based browsers (e.g., Chrome, Safari) */
div::-webkit-scrollbar {
 visibility: hidden;
}

/* Hide scrollbars in IE, Edge, and Firefox */
div {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

.main-nav a > span[class$="-icon"]{
  transform: translateY(-0.125em);
}

.repos-container span.material-design-icon > .material-design-icon__svg {
  position: static;
}
