a {
  text-decoration: none;
  color: inherit;
}

/* Hide scrollbars in WebKit-based browsers (e.g., Chrome, Safari) */
div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars in IE, Edge, and Firefox */
div {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

.main-nav a > span[class$="-icon"]{
  transform: translateY(-0.125em);
}

.repos-container span.material-design-icon > .material-design-icon__svg {
  position: static;
}

.vds-controls-spacer {
  background-color: rgb(0 0 0.5 / 60%) !important;
}